h1{
    color:aqua;
    text-decoration:underline;;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
}
body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: burlywood
  }
  
  #m{
    color: blueviolet;
  }
  .pitt{
    height:200px;
    width=150px;
  }
  .pitt{
    margin: :100px;
    padding:100px;
    border: 2px solid black;
} 


  .image{
    border:1px solid black;
    width:fit-content;
    padding:10px;
    margin:30px auto;
}

